<div ng-if="!loggedIn.first_name">
  First Name: <input type=text ng-model='userLogin.first_name'><br>
  Last Name: <input type=text ng-model='userLogin.last_name'><br>
  <button ng-click=login()>Log In</button>
</div>

<div ng-if="loggedIn.first_name">
  Welcome {{loggedIn.first_name}}! <button ng-click="signOut()">Sign Out </button>
  <br>

  <img ng-repeat='item in items' ng-src ='{{item.imageUrl}}' >
    <a href="#!/products"> Show more products</a></br>

    <p>Recent Orders</p>
    <input type=text ng-model=salomi><br>
    <ul>
      <li ng-repeat= 'order in orders | filter: salomi | orderBy: "-createdAt" | limitTo: 3 '>{{order.user.first_name}} - purchased - {{order.item.name}} {{order.createdAt | date: "short"}}</li>

    </ul>
    <a href="#!/orders"> Show more orders</a></br>

    <p>New Customers</p>
    <ul>
      <li ng-repeat= 'user in users |filter: salomi | orderBy: "-createdAt" | limitTo: 3'>{{user.first_name}} {{user.last_name}} - joined the store - {{user.createdAt | date: "short"}}</li>
    </ul>
    <a href="#!/customers"> Show more customers</a></br>
</div>
